<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apphamba.hamba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".infra.HambaApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".usuario.gui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.LoginActivity"
            android:label="@string/label_login" />
        <activity
            android:name=".usuario.gui.CadastroActivity"
            android:label="@string/label_cadastro" />
        <activity
            android:name=".usuario.gui.EscolhaCadOuLoginActivity"
            android:label="@string/label_escolha" />
        <activity android:name=".usuario.gui.EscolhaConfiguracaoActivity" />
        <activity
            android:name=".usuario.gui.AlterarEmailActivity"
            android:label="@string/label_alterar_email" />
        <activity
            android:name=".usuario.gui.AlterarSenhaActivity"
            android:label="@string/label_mudar_senha" />
        <activity android:name=".usuario.gui.DesativarContaActivity" />
        <activity
            android:name=".titulo.gui.MainActivity"
            android:label="@string/label_tela_inicial" />
        <activity
            android:name=".titulo.gui.DetalhesActivity"
            android:label="@string/label_tela_detalhes" />
        <activity
            android:name=".titulo.gui.FavoritosActivity"
            android:label="@string/label_tela_favoritos" />
        <activity
            android:name=".titulo.gui.MeuHambaActivity"
            android:label="@string/label_tela_meu_hamba">

        </activity>
        <activity android:name=".infra.adapter.EpisodiosCheckListaActivity">

        </activity>
    </application>

</manifest>