<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apphamba.hamba">

    <application
        android:debuggable="true"
        android:name=".infra.HambaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".usuario.gui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.LoginActivity"
            android:label="@string/label_login" />
        <activity
            android:name=".usuario.gui.CadastroActivity"
            android:label="@string/label_cadastro" />
        <activity
            android:name=".usuario.gui.EscolhaCadOuLoginActivity"
            android:label="@string/label_escolha" />
        <activity android:name=".usuario.gui.TelaInicialActivity" />
        <activity android:name=".usuario.gui.EscolhaConfiguracaoActivity" />
        <activity android:name=".usuario.gui.AlterarEmailActivity" />
        <activity android:name=".usuario.gui.AlterarSenhaActivity" />
        <activity android:name=".titulos.gui.RecomendacoesActivity" />
        <activity android:name=".titulos.gui.CalendarioActivity" />
        <activity android:name=".usuario.gui.DesativarContaActivity"></activity>
        <activity android:name=".titulos.gui.TituloActivity"/>
        <activity android:name=".titulos.gui.MainActivity"/>
    </application>

</manifest>